@import "tailwindcss";

:root {
  --background: #fdfbf7;
  --foreground: #1c1b18;
  /* Aesthetic Soft Earthy Palette */
  --orange-50: #faf6f0;
  --orange-100: #f3ece2;
  --orange-200: #e6d9c9;
  --orange-300: #d8bfa6;
  --orange-400: #c79e7b;
  --orange-500: #ca7961;
  /* Primary Aesthetic Terracotta */
  --orange-600: #b5654d;
  --orange-700: #96503b;
  --orange-800: #783f2e;
  --orange-900: #5c3022;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--orange-500);
  --color-primary-hover: var(--orange-600);
  --color-primary-active: var(--orange-700);

  --color-primary-light: var(--orange-100);
  --color-primary-lighter: var(--orange-50);

  --color-text-on-primary: #fdfbf7;
  --color-primary-shadow: var(--orange-200);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
